<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cssl.dao.PversionMapper">
  <resultMap id="BaseResultMap" type="com.cssl.entity.Pversion">
    <id column="pv_id" jdbcType="INTEGER" property="pvId" />
    <result column="phone_id" jdbcType="INTEGER" property="phoneId" />
    <result column="phone_versionid" jdbcType="INTEGER" property="phoneVersionid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    pv_id, phone_id, phone_versionid
  </sql>
  <select id="selectByExample" parameterType="com.cssl.entity.PversionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from huawei_phone_version
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from huawei_phone_version
    where pv_id = #{pvId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from huawei_phone_version
    where pv_id = #{pvId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.cssl.entity.PversionExample">
    delete from huawei_phone_version
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cssl.entity.Pversion">
    insert into huawei_phone_version (pv_id, phone_id, phone_versionid
      )
    values (#{pvId,jdbcType=INTEGER}, #{phoneId,jdbcType=INTEGER}, #{phoneVersionid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cssl.entity.Pversion">
    insert into huawei_phone_version
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pvId != null">
        pv_id,
      </if>
      <if test="phoneId != null">
        phone_id,
      </if>
      <if test="phoneVersionid != null">
        phone_versionid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pvId != null">
        #{pvId,jdbcType=INTEGER},
      </if>
      <if test="phoneId != null">
        #{phoneId,jdbcType=INTEGER},
      </if>
      <if test="phoneVersionid != null">
        #{phoneVersionid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cssl.entity.PversionExample" resultType="java.lang.Long">
    select count(*) from huawei_phone_version
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update huawei_phone_version
    <set>
      <if test="record.pvId != null">
        pv_id = #{record.pvId,jdbcType=INTEGER},
      </if>
      <if test="record.phoneId != null">
        phone_id = #{record.phoneId,jdbcType=INTEGER},
      </if>
      <if test="record.phoneVersionid != null">
        phone_versionid = #{record.phoneVersionid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update huawei_phone_version
    set pv_id = #{record.pvId,jdbcType=INTEGER},
      phone_id = #{record.phoneId,jdbcType=INTEGER},
      phone_versionid = #{record.phoneVersionid,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cssl.entity.Pversion">
    update huawei_phone_version
    <set>
      <if test="phoneId != null">
        phone_id = #{phoneId,jdbcType=INTEGER},
      </if>
      <if test="phoneVersionid != null">
        phone_versionid = #{phoneVersionid,jdbcType=INTEGER},
      </if>
    </set>
    where pv_id = #{pvId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cssl.entity.Pversion">
    update huawei_phone_version
    set phone_id = #{phoneId,jdbcType=INTEGER},
      phone_versionid = #{phoneVersionid,jdbcType=INTEGER}
    where pv_id = #{pvId,jdbcType=INTEGER}
  </update>
</mapper>